# Python
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# Environment variables / secrets
.env
backend/.env

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Database / local files
*.db
*.sqlite3

# Node / frontend later
node_modules/
dist/
build/